body{
    background-color: hsl(185, 41%, 84%);
    font-family: 'Space Mono';
}

#center{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    margin-top: 8rem;
}

.letter-spacing{
    letter-spacing: 5px;
    color: hsl(184, 14%, 56%);
}

.form-left{
    background-color: white;
    border-radius: 30px;
    color: hsl(183, 100%, 15%);
    position: absolute;

}